<div class="w-full h-full lg:w-3/6 md:rounded-lg lg:rounded-lg shadow-xl bg-white overflow-hidden lg:mx-auto lg:mt-10 lg:mb-10">
    <img class="w-full object-cover" [src]="article.urlToImage?article.urlToImage:'assets/news-placeholder.png'" (onerror)="article.urlToImage = 'assets/news-placeholder.png'"/>

    <div class="m-2">
        <h4 class="font-bold">{{article.title}}</h4>
        <h2 class="mb-4">{{article.description}}</h2>
        <h4 class="font-bold">Published at: {{formatDate(article.publishedAt)}}</h4>
        <h4 class="font-bold">{{article.source?.name}}</h4>
        <h4 class="font-bold" *ngIf="article.author">Author: {{article.author}}</h4>
        <a [href]="article.url">
            <div class="truncate">
                {{article.url}}
            </div>
        </a>
    </div>
</div>
